h1 {
    color:#a52a2a88;
}

* {
    border: solid;
}

.header{
    background-color:#7FC7C4;
    display:flex;
    color:#a52a2a88;
    justify-content:space-between;
    margin: 90px;
}

.game{
    background-color:#7FC7C4;
    color:#a52a2a88;
    justify-content:flex;
    padding: 150px;
}

.game p{
    opacity:0;
}

.game:hover p{
    opacity:1;
}

a:link{
    color:white;
}

a:visited{
    color:blue
}